.si_main {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 169, 255);

    .si_m_cont {
        background-color: white;
        width: 350px;
        height: 470px;
        border-radius: 10px;
        box-shadow: 1px 20px 20px rgba($color: #000000, $alpha: 0.1);
        padding: 40px 50px 40px 50px;
        border: 1px solid rgb(230, 230, 230);
    }

    .si_m_cont > h1 {
        font-family: 'Poppins-Bold', sans-serif;
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 20px;
    }

    .si_m_c_inputs {
        display: flex;
        width: '100%';
        height: '100%';
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 250px;
    }

    .su_login {
        font-size: 0.9rem;
        margin-top: 20px;
        display: flex;
        align-items: center;

        span {
            font-weight: bold;
            font-family: 'Poppins-Bold';
            color: rgb(17, 128, 255);
            transition: all 150ms ease-in-out;
            margin-left: 2px;

            &:hover {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 720px) {
    .si_main {
        .si_m_cont {
            width: 90%;
            height: auto;
            padding: 30px;
        }

        .si_m_cont > h1 {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .si_m_c_inputs {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > span {
                width: 100%;
                margin-bottom: 20px;

                & > * {
                    max-width: 100%;
                }
            }
        }

        .su_login {
            font-size: 0.8rem;
            margin-top: 15px;

            span {
                &:hover {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
