.asp_main {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;

    .a_m_h {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 27px;
        color: rgb(255, 255, 255);
        font-family: 'Poppins-Bold', sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

        th,
        td {
            padding: 10px;
            background-color: rgba(44, 44, 44, 0.4);
            color: #fff;
            font-size: 14px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }

        tr {
            transition: all 90ms ease-in-out;
            cursor: pointer;
            &:hover {
                transform: scale(1.01);
            }
        }

        th {
            background-color: #55608f;
            font-size: 16px;
        }

        tbody tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        tbody td {
            position: relative;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        table {
            font-size: 12px;

            th,
            td {
                padding: 8px;
            }

            th {
                font-size: 14px;
            }
        }
    }
}
